<% include partials/header %>

  <body class="portfolio-1x">
  
   <!-- Preloader -->
    <div id="fakeloader"></div>
   
	<div class="business-banner comming-soon-banner">           			
        <div class="hvrbox">
            <img src="images/slider-22.jpg" alt="Mountains" class="hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
                <div class="container">
                    <div class="overlay-text text-center comming-soon-body">
                        
                        <div class="business-countdown">                        											
                            <div id="edufaircd"></div>                            
                        </div>
                        
                        <h4>Comming Soon ! </h4>
                        <p>We are currently working on an awesome new website.Leave your email & be the first to know about our latest cool stuff!</p>
                    
                        <div class="col-md-6 offset-md-3">
                            <div class="business-cta-right-3">
                                <form>
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                                      <div class="input-group-append">
                                        <button class="btn bussiness-btn-larg" type="button">Subscribe</button>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>	                     
    </div>      

<% include partials/footer %>   