<% include partials/header %>     

	<div class="business-banner">           			
        <div class="hvrbox">
            <img src="images/slider-14.jpg" alt="Mountains" class="hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
                <div class="container">
                    <div class="overlay-text text-left">						
                        <h3>Contact Us</h3>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>	                     
    </div>      

    <div class="padding-top-large"></div>
      
    <div class="bussiness-our-address">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-address text-center">
                        <i class="fa fa-map-marker"></i>
                        <h4>Our Location</h4>
                        <p>300 Barangaroo Avenue,<br>Barangaroo, Sydney, Australia.</p>	                   
                    </div>   
                </div>
                <div class="col-md-4">
                    <div class="single-address text-center">
                        <i class="fa fa-phone"></i>
                        <h4>Contact Us</h4>
                        <p> Mobile: (61) 430288996 <br>
                            Fax: (00) 123 456 789 <br>
                        </p>                  
                    </div>   
                </div>
                <div class="col-md-4">
                    <div class="single-address text-center">
                        <i class="fa fa-location-arrow"></i>
                        <h4>Write Some Words</h4>
                        <p> hello@edufair.com <br>
                            support247@edufair.com <br>
                        </p>                   
                    </div>   
                </div>   
            </div>   
        </div>   
    </div>
      
    <div class="padding-top-large"></div>
      
     <div class="bussiness-contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="business-title-left">
                        <h2>Feedback form</h2>
                        <span class="title-border-left"></span>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br> nibh euismod tincidunt ut laoreet dolore euismod magna.</p>
                    </div>
                    
                </div>
 
                    
                       
                <div class="col-md-6">                        
                  <div class="form-group">                        
                    <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Your First Name">
                  </div>
                </div>
                <div class="col-md-6">                        
                  <div class="form-group">
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Your last Name">
                  </div>
                </div>
                <div class="col-md-6">                        
                  <div class="form-group">
                    <input type="email" class="form-control" id="formGroupExampleInput3" placeholder="Your Email">
                  </div>
                </div>
                <div class="col-md-6">                        
                  <div class="form-group">
                    <input type="number" class="form-control" id="formGroupExampleInput4" placeholder="Phone Number">
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea15" rows="3" placeholder="Your Message"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <a href="#" class="btn bussiness-btn-larg">Send Message</a>
                    </div>
                </div>
                       
                    
    
            </div>
        </div>
    </div>
      
      
    <div class="padding-top-large"></div>
      
	<!-- Start Client Map -->
	<div class="client_map">
		<div class="row">
			<div id="map"></div>
		</div>
	</div>
	<!-- End Client Map -->	
	    
	<% include partials/footer %>