<% include partials/header %>
	
	<div class="business-main-slider">
		<div class="owl-carousel main-slider">
            <div class="item">			
				<div class="hvrbox">
					<img src="images/slider-18.jpg" alt="Mountains" class="hvrbox-layer_bottom">
					<div class="hvrbox-layer_top">
						<div class="container">
							<div class="overlay-text text-left">						
								<h3 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">AI Automation Company</h3>
								<h2 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">We Build Big Things</h2>
								<p data-animation-in="slideInLeft" data-animation-out="animate-out fadeOut">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <br> praesentium voluptatum deleniti atque corrupti quos  dolores et <br>quas molestias excepturi sint occaecati</p>
								<a href="#" class="bussiness-btn-larg"  data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown">Get Started</a>
							</div>
						</div>
					</div>
				</div>			
            </div>
            <div class="item">			
				<div class="hvrbox">
					<!-- <img src="images/slider-7.jpg" alt="Mountains" class="hvrbox-layer_bottom"> -->
					<img src="images/tien1.jpg" alt="Mountains" class="hvrbox-layer_bottom">
					<div class="hvrbox-layer_top">
						<div class="container">
							<div class="overlay-text text-left">
								<h3 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">AI + RPA Company</h3>
								<h2 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">We Build Big Things</h2>
								<p data-animation-in="slideInLeft" data-animation-out="animate-out fadeOut">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <br> praesentium voluptatum deleniti atque corrupti quos  dolores et <br>quas molestias excepturi sint occaecati</p>
								<a href="#" class="bussiness-btn-larg" data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown">Get Started</a>
							</div>
						</div>
					</div>
				</div>			
            </div>  
            
        </div>	
	</div>
      
    	
	<div class="business-feature-1x business-feature-onslider">	
		<div class="container">
			<div class="business-features">
                <div class="col-md-12">
                    <div class="row">						
                        <div class="col-md-4 no-padding">
                            <div class="single-features single-features-overlay">
                                <div class="media">
                                  <img class="mr-3" src="images/icon/leader.png" alt="Generic placeholder image">
                                  <div class="media-body">
                                    <h5 class="mt-0">Business with Thought Leadership</h5>
                                  </div>
                                </div>	
                            </div>	
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="single-features single-features-overlay">
                                <div class="media">
                                  <img class="mr-3" src="images/icon/world-map.png" alt="Generic placeholder image">
                                  <div class="media-body">
                                    <h5 class="mt-0">Global consumer insights  business</h5>
                                  </div>
                                </div>	
                            </div>	
                        </div>
                        <div class="col-md-4 no-padding">
                            <div class="single-features single-features-overlay">
                                <div class="media">
                                  <img class="mr-3" src="images/icon/money.png" alt="Generic placeholder image">
                                  <div class="media-body">
                                    <h5 class="mt-0">Segment of focused top investors </h5>
                                  </div>
                                </div>	
                            </div>	
                        </div>					
                    </div>					
				</div>
			</div>
		</div>
	</div>  
      
   	<div class="padding-top-large"></div>
	
	<div class="business-services-1x">	
		<div class="container">
			<div class="business-services">							
				<div class="row">				
					<div class="col-md-12">
						<div class="business-title-middle">
							<h2>Our Services</h2>
							<span class="title-border-middle"></span>
						</div>
					</div>
										
					<div class="col-md-12 service-content">
						<div class="row">
							<div class="col-md-4">
								<div class="single-services">
									<div class="media">								
									  <img class="mr-3" src="images/icon/icon-1.png" alt="Generic placeholder image">
									  <div class="media-body">
                                          <a href="#">Business Services Consulting</a>
										<p>Design repeatable growth models andhkjs innovation pipelines that generate.</p>
									  </div>
									</div>	
								</div>	
							</div>
							<div class="col-md-4">
								<div class="single-services">
									<div class="media">
									  <img class="mr-3" src="images/icon/icon-2.png" alt="Generic placeholder image">
									  <div class="media-body">
										<a href="#">Energy Environment Consulting</a>
										<p>Design repeatable growth models andsdfs innovation pipelines that generate.</p>
									  </div>
									</div>	
								</div>	
							</div>
							<div class="col-md-4">
								<div class="single-services">
									<div class="media">
									  <img class="mr-3" src="images/icon/icon-3.png" alt="Generic placeholder image">
									  <div class="media-body">
										<a href="#">Consumer Products Consulting</a>
										<p>Design repeatable growth models anddsfg innovation pipelines that generate.</p>
									  </div>
									</div>	
								</div>	
							</div>		
							<div class="col-md-4">
								<div class="single-services">
									<div class="media">
									  <img class="mr-3" src="images/icon/icon-4.png" alt="Generic placeholder image">
									  <div class="media-body">
										<a href="#">Surface Transport & Logistics Consulting</a>
										<p>Design repeatable growth models andhkjs innovation pipelines that generate.</p>
									  </div>
									</div>	
								</div>	
							</div>
							<div class="col-md-4">
								<div class="single-services">
									<div class="media">
									  <img class="mr-3" src="images/icon/icon-5.png" alt="Generic placeholder image">
									  <div class="media-body">
										<a href="#">Financial Services Consulting</a>
										<p>Design repeatable growth models andsdfs innovation pipelines that generate.</p>
									  </div>
									</div>	
								</div>	
							</div>
							<div class="col-md-4">
								<div class="single-services">
									<div class="media">
									  <img class="mr-3" src="images/icon/icon-6.png" alt="Generic placeholder image">
									  <div class="media-body">
                                          <a href="#">Travel and Aviation Consulting </a>
										<p>Design repeatable growth models anddsfg innovation pipelines that generate.</p>
									  </div>
									</div>	
								</div>	
							</div>
						</div>
						
					</div>									
				</div>
			</div>
		</div>
	</div>      
   
    <div class="padding-top-large"></div>
	
	<div class="business-features-3x">	
		<div class="colourful-features-content">				
			<div class="row">					
				<div class="col-md-3 no-padding">				
					<div class="single-colorful-feature feature-color-1">
						<h3>01.</h3>
						<h2>Planning</h2>
						<p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium voluptatum .</p>	
					</div>									
				</div>					
				<div class="col-md-3 no-padding">				
					<div class="single-colorful-feature feature-color-2">
						<h3>02.</h3>
						<h2>Creative Design</h2>
						<p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium voluptatum .</p>	
					</div>									
				</div>					
				<div class="col-md-3 no-padding">				
					<div class="single-colorful-feature feature-color-3">
						<h3>03.</h3>
						<h2>Development</h2>
						<p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium voluptatum .</p>	
					</div>									
				</div>					
				<div class="col-md-3 no-padding">				
					<div class="single-colorful-feature feature-color-4">
						<h3>04.</h3>
						<h2>Promotion</h2>
						<p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium voluptatum .</p>	
					</div>									
				</div>
				
			</div>		
		</div>
	</div>
      
    <div class="padding-top-large"></div>
	
	<div class="business-app-present-2x">	
		<div class="app-present-content-2">	
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="business-title-middle">
							<h2>Core Features</h2>
							<span class="title-border-middle"></span>
						</div>
					</div>
					<div class="col-md-12">
						<div class="margin-top-middle"></div>
					</div>
					
					<div class="col-md-7">				
						<div class="app-present-left-2">
							<img src="images/ipad.png" alt="Mountains" class="">
						</div>									
					</div>
					<div class="col-md-5">				
						<div class="app-present-right-2">
							<div class="single-app-present">
								<div class="media">
								  <span class="animatedhover pulse"><i class="fa fa-phone"></i></span>
								  <div class="media-body">
									<h2>Business Services Consulting</h2>
									<p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium.</p>
								  </div>
								</div>
							</div>	
							<div class="single-app-present">
								<div class="media">
								  <span class="animatedhover pulse"><i class="fa fa-podcast"></i></span>
								  <div class="media-body">
									<h2>Energy Environment Consulting</h2>
									<p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium.</p>
								  </div>
								</div>
							</div>	
							<div class="single-app-present">
								<div class="media">
								  <span class="animatedhover pulse"><i class="fa fa-user"></i></span>
								  <div class="media-body">
									<h2>Consumer Products Consulting</h2>
									<p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium.</p>
								  </div>
								</div>
							</div>	
							<div class="single-app-present">
								<div class="media">
								  <span class="animatedhover pulse"><i class="fa fa-bus"></i></span>
								  <div class="media-body">
									<h2>Surface Transport Consulting</h2>
									<p>At vero eos et accusamus ehdf iusto dignissimos ducimused qughi blakrn ditiis praesentium.</p>
								  </div>
								</div>
							</div>		
						</div>		
					</div>
					
				</div>		
			</div>
		</div>
	</div> 
      
    <div class="padding-top-large"></div>
	
	<!-- Start Portfolio Section -->
	<div class="business-portfolio-1x" id="portfolio">
			<div class="row">
				<div class="col-md-12">
					<div class="bussiness-portfolio-light">
					
						<div class="col-md-12">
							<div class="business-title-middle">
								<h2>Amazing Projects</h2>
								<span class="title-border-middle"></span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="padding-top-small"></div>
								
								<div class="portfolio-body">
									<ul class="simplefilter text-center"> 										
										<li class="active" data-filter="all">All</li>
										<li data-filter="1">Cityscape</li>
										<li data-filter="2">Landscape</li>
										<li data-filter="3">Industrial</li>
										<li data-filter="4">Daylight</li>
										<li data-filter="5">Nightscape</li>
									</ul>
									<div class="padding-top-middle"></div>
									
									<div class="filtr-container">
										<div class="col-md-3 no-padding filtr-item hover01" data-category="2, 5" data-sort="Luminous night">
											<figure><img class="img-responsive" src="images/bg-2.jpg" alt="sample image"></figure>
											<span class="item-desc"><a href="project-details.html">Luminous night</a></span>
										</div>
										<div class="col-md-3 no-padding filtr-item hover01" data-category="1, 4" data-sort="City wonders">
											<figure><img class="img-responsive" src="images/bg-3.jpg" alt="sample image"></figure>
											<span class="item-desc"><a href="project-details.html">city wonders</a></span>
										</div>
										<div class="col-md-3 no-padding filtr-item hover01" data-category="3" data-sort="In production">
											<figure><img class="img-responsive" src="images/bg-4.jpg" alt="sample image"></figure>
											<span class="item-desc"><a href="project-details.html">in production</a></span>
										</div>
										<div class="col-md-3 no-padding filtr-item hover01" data-category="3, 4" data-sort="Industrial site">
											<figure><img class="img-responsive" src="images/bg-5.jpg" alt="sample image"></figure>
											<span class="item-desc"><a href="project-details.html">industrial site</a></span>
										</div>
										<div class="col-md-3 no-padding filtr-item hover01" data-category="2, 4" data-sort="Peaceful lake">
											<figure><img class="img-responsive" src="images/bg-6.jpg" alt="sample image"></figure>
											<span class="item-desc"><a href="project-details.html">peaceful lake</a></span>
										</div>
										<div class="col-md-3 no-padding filtr-item hover01" data-category="1, 5" data-sort="City lights">
											<figure><img class="img-responsive" src="images/blog-1.jpg" alt="sample image"></figure>
											<span class="item-desc"><a href="project-details.html">city lights</a></span>
										</div>
										<div class="col-md-3 no-padding filtr-item hover01" data-category="1, 5" data-sort="City lights">
											<figure><img class="img-responsive" src="images/blog-2.jpg" alt="sample image"></figure>
											<span class="item-desc"><a href="project-details.html">city lights</a></span>
										</div>
										<div class="col-md-3 no-padding filtr-item hover01" data-category="1, 5" data-sort="City lights">
											<figure><img class="img-responsive" src="images/blog-3.jpg" alt="sample image"></figure>
											<span class="item-desc"><a href="project-details.html">city lights</a></span>
										</div>
									</div>									
								
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
	</div>
	<!-- End Portfolio Section -->	
      
    <div class="padding-top-large"></div>	

	<div class="team-members-1x">	
		<div class="container">
			<div class="team-members-content">
				<div class="row">

					<div class="col-md-4">
						<div class="business-title-left">
							<h2>Team Members</h2>
							<span class="title-border-left"></span>
						</div>
						<div class="team-members-left">
							<p>At vero eos et accusamus et iusto odioarweres dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecatisdgh cupiditate nonprovident dfgdftr.</p>							
							<a href="#" class="bussiness-btn-larg">See Our Team</a>						
						</div>
					</div>
				
					<div class="col-md-8">
						<div class="row">					
							<div class="col-md-12">
								<div class="team-members-right">
									<div class="owl-carousel team-members">
										<div class="item hover01">
										  <figure><img src="images/member/team1.jpg" alt="slide 1" class=""></figure>										 
										  <a href="member-profile.html">Tim Do</a>										  
										  <h3>Director</h3>										  
										</div> 
										<div class="item hover01">
										  <figure><img src="images/member/team2.jpg" alt="slide 1" class=""></figure>										 
										  <a href="member-profile.html">Ron Ang</a>										  
										  <h3>Director</h3>										  
										</div> 
										<div class="item hover01">
										  <figure><img src="images/member/team3.jpg" alt="slide 1" class=""></figure>										 
										  <a href="member-profile.html">Adam Smith</a>										  
										  <h3>Director</h3>										  
										</div> 
										<div class="item hover01">
										  <figure><img src="images/member/team1.jpg" alt="slide 1" class=""></figure>										 
										  <a href="">Evana Chy</a>										  
										  <h3>Director</h3>										  
										</div> 
										<div class="item hover01">
										  <figure><img src="images/member/team4.jpg" alt="slide 1" class=""></figure>										 
										  <a href="member-profile.html">Kristiano Doe</a>										  
										  <h3>Director</h3>										  
										</div>             
									</div>	
								</div>									
							</div>		
						</div>		
					</div>		

				</div>
			</div>
		</div>
	</div>
      
    <div class="padding-top-large"></div>
	
	<div class="business-cta-1x">	
		<div class="container">
			<div class="row">					
				<div class="col-md-12">
					<div class="cta-content">
						<h3>We have invested $50B in 400 traansaction across 24 countries</h3>
						<h2>Download our past year highlight review</h2>
						<a href="#" class="bussiness-btn-larg">Download Now</a>
					</div>									
				</div>		
			</div>		
		</div>
    </div> 
      
    <div class="padding-top-large"></div>
	
	<div class="business-testimonial-slider-1x">	
		<div class="container">
			<div class="row">					
				<div class="col-md-12">
					<div class="testimonial-slider-content">
						<div class="owl-carousel testimonial-slider">
							<div class="item">							  
							    <blockquote>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br>
                                    maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br>
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
                                </blockquote>
                                <img src="images/member/team5.jpg" alt="slide 1">
							     <h2>Jhone Doe</h2>
							     <h3>Chairman</h3>
							</div> 	
							<div class="item">							  
                                <blockquote>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br>
                                    maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br>
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
                                </blockquote>
                                <img src="images/member/team6.jpg" alt="slide 1">
                                <h2>Devid Augustin </h2>
							    <h3>Founder</h3>
							</div> 	
							<div class="item">							 
                                <blockquote>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod<br>
                                    maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br>
                                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.
                                </blockquote>
                                 <img src="images/member/team9.jpg" alt="slide 1">
                                <h2>Evana Chy</h2>
							    <h3>Founder</h3>
							</div> 			           
						</div>	
					</div>									
				</div>		
			</div>		
		</div>
	</div> 
      
 	<div class="padding-top-large"></div>

	
	<div class="business-call-back-1x">	
		<div class="business-call-back-content">	
			<div class="container">
				<div class="row">					
					<div class="col-md-4">				
						<div class="call-back-left">
							<div class="business-title-left">
								<h2>Request a call back</h2>
								<span class="title-border-left"></span>
							</div>						
							<p>At vero eos et accusamus et iusto odioarweres dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecatisdgh.</p>												
						</div>									
					</div>
					<div class="col-md-8">				
						<div class="call-back-right">
							<h2>I Would like to discuss</h2>
							<form>
								<div class="row">															
									<div class="col-md-6">
									  <div class="form-group">
										<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
									  </div>
									</div>
									<div class="col-md-6">
									  <div class="form-group">
										<select class="form-control" id="exampleFormControlSelect1">
										  <option>Business Planning</option>
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									  </div>
									</div>
															
									<div class="col-md-6">
									  <div class="form-group">
										<input type="number" class="form-control" id="exampleFormControlInput2" placeholder="Phone Number">
									  </div>
									</div>
									<div class="col-md-6">
										<a href="#" class="bussiness-btn-larg">Submit</a>
									</div>
								</div>										
							</form>											
						</div>		
					</div>
					
				</div>		
			</div>
		</div>
	</div>
	
	
	<div class="padding-top-large"></div>

	<div class="business-blog-1x">	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="business-title-middle">
						<h2>Latest News</h2>
						<span class="title-border-middle"></span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="margin-top-middle"></div>
				</div>
				<div class="col-md-3">
					<div class="single-bolg hover01">
						<figure><img src="images/blog-1.jpg" alt="slide 1" class=""></figure>
						<div class="blog-content">
							<a href="single.html">Successfull business tips way to grow</a>
							<span><i class="fa fa-clock-o"></i>14 Dec, 2017</span>
						</div>
					</div>
				</div>			
				<div class="col-md-3">
					<div class="single-bolg hover01">
						<figure><img src="images/blog-2.jpg" alt="slide 1" class=""></figure>
						<div class="blog-content">
							<a href="single.html">The most successful ones go over the top</a>
							<span><i class="fa fa-clock-o"></i>14 Dec, 2017</span>
						</div>
					</div>
				</div>			
				<div class="col-md-3">
					<div class="single-bolg hover01">
						<figure><img src="images/blog-3.jpg" alt="slide 1" class=""></figure>
						<div class="blog-content">
							<a href="single.html">Why buying a big house is a bad investment</a>
							<span><i class="fa fa-clock-o"></i>14 Dec, 2017</span>
						</div>
					</div>
				</div>			
				<div class="col-md-3">
					<div class="single-bolg hover01">
						<figure><img src="images/blog-4.jpg" alt="slide 1" class=""></figure>
						<div class="blog-content">
							<a href="single.html">Strategic and commercial approach with issues</a>
							<span><i class="fa fa-clock-o"></i>14 Dec, 2017</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="padding-top-large"></div>
	
	<div class="clients-slider-1x">	
		<div class="container">
			<div class="row">					
				<div class="col-md-12">
					<div class="clients-logo-slider">
						<div class="owl-carousel clients-slider">
							<div class="item">
							  <a href="#"><img src="images/client/1.png" alt="slide 1" class=""></a>										 									  
							</div> 
							<div class="item">
							  <a href="#"><img src="images/client/2.png" alt="slide 1" class=""></a>	
							</div>
							<div class="item">
							  <a href="#"><img src="images/client/3.png" alt="slide 1" class=""></a>	
							</div> 
							<div class="item">
							  <a href="#"><img src="images/client/4.png" alt="slide 1" class=""></a>	
							</div> 
							<div class="item">
							  <a href="#"><img src="images/client/5.png" alt="slide 1" class=""></a>
							</div>            
						</div>	
					</div>									
				</div>		
			</div>		
		</div>
	</div>

	<div class="padding-top-large"></div>

	
	<!-- Start Client Map -->
	<!-- <div class="client_map">
		<div class="row">
			<div id="map"></div>
		</div>
	</div> -->
	<!-- End Client Map -->	
	
	<% include partials/footer %>