
  				
	<!-- Start Footer -->
	<footer class="bussiness-footer-1x">		
		
        <div class="bussiness-footer-content ">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3">	
                          <div class="bussiness-footer-address">	
                              <a href="#"><img src="images/logo-white.svg" alt="Logo"></a><br>
                              
                                  <p> <i class="fa fa-phone"></i>(61) 123 456 789 </p>				
                                  <p> <i class="fa fa-envelope"></i>hello@fod.com </p>								
                                  <p> <i class="fa fa-map-marker"></i> 300 Barangaroo Avenue<br> Barangaroo, Sydney, Australia. </p>											
                          </div>
                      </div>
                      <div class="col-md-3">
                          <h5> Company </h5>
                          <ul>
                              <li><a href="#"> Help Center </a></li>				
                              <!-- <li><a href="#"> Student support </a></li>				
                              <li><a href="#"> Language Packs </a></li>				
                              <li><a href="#"> Privacy policy </a></li>				
                              <li><a href="#"> Become a Teacher </a></li>	 -->
                          </ul>
                      </div>							
                      <div class="col-md-3">	
                          <h5> Useful Links </h5>
                          <ul>
                              <li><a href="#"> Help Center </a></li>				
                              <li><a href="#"> Student support </a></li>				
                              <li><a href="#"> Language Packs </a></li>				
                              <li><a href="#"> Privacy policy </a></li>				
                              <li><a href="#"> Become a Teacher </a></li>				
                          </ul>			
                      </div>

                      <div class="col-md-3">	
                          <h5> Subscribe </h5>								
                          <div class="subscriber-form">
                              <form>
                                  <div class="form-group">
                                      <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Enter Your E-mail">
                                  </div>									
                                  <a href="#" class=" btn bussiness-btn-larg">Submit</a>
                              </form>
                          </div>									
                      </div>					

                      <div class="container">	
                          <div class="">
                              <div class="col-md-12 footer-info">
                                  <div class="row">	
                                      <div class="col-md-6">	
                                          <div class="footer-info-left">	
                                              <!-- <p>Business Template by <a href="https://www.banyanthemes.com"> BanyanTheme </a></p> -->
                                              <p>Bank-end developed by <a href="https://www.eshopdeals.com"> TimDo </a></p>
                                          </div>			
                                      </div>			
                                      <div class="col-md-6">
                                          <div class="footer-info-right">
                                              <ul>
                                                  <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>										
                                                  <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>											
                                                  <li><a href="#"> <i class="fa fa-google"></i> </a></li>									
                                                  <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>											
                                              </ul>					
                                          </div>					
                                      </div>					
                                  </div>					
                              </div>					
                          </div>	  
                      </div>
              
                  </div>					
              </div>			
        </div>		  
    
  </footer>	
  <!-- End Footer -->		     
  
     
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Wow Script -->
  <script src="js/wow.min.js"></script>
  <!-- Counter Script -->
  <script src="js/waypoints.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <!-- Masonry Portfolio Script -->
  <script src="js/jquery.filterizr.min.js"></script>
  <script src="js/filterizer-controls.js"></script>
  <!-- OWL Carousel js-->
  <script src="js/owl.carousel.min.js"></script>  
  <!-- Lightbox js -->
  <script src="inc/lightbox/js/jquery.fancybox.pack.js"></script>
  <script src="inc/lightbox/js/lightbox.js"></script>
  <!-- Google map js -->
  <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa6w23do1qZsmF1Xo3atuFzzMYadTuTu0"></script>	
  <script src="js/map.js"></script>
  <!-- loader js-->
  <script src="js/fakeLoader.min.js"></script>
  <!-- Scroll bottom to top -->
  <script src="js/scrolltopcontrol.js"></script>
  <!-- menu -->
  <script src="js/bootstrap-4-navbar.js"></script>    
  <!-- Stiky menu -->
  <script src="js/jquery.sticky.js"></script>  
  <!-- youtube popup video -->
  <script src="js/jquery.magnific-popup.min.js"></script>  
  <!-- Color switcher js -->
  <script src="js/color-switcher.js"></script> 
  <!-- Color-switcher-active -->  
  <script src="js/color-switcher-active.js"></script>      
  <!-- Custom script -->
  <script src="js/custom.js"></script>


  
</body>
</html>   