<!doctype html>
<html lang="en">
  <head>
    <title>FOD - Follow Your Dream</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    
	<!-- Favicon icon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700" rel="stylesheet">
	
	
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawsome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate CSS-->
    <link href="css/animate.css" rel="stylesheet">
    <!-- menu CSS-->
    <link href="css/bootstrap-4-navbar.css" rel="stylesheet">	
	<!-- Portfolio Gallery -->
    <link href="css/filterizer.css" rel="stylesheet">
	<!-- Lightbox Gallery -->
    <link href="inc/lightbox/css/jquery.fancybox.css" rel="stylesheet">
	<!-- OWL Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Preloader CSS-->
    <link href="css/fakeLoader.css" rel="stylesheet">
    <!-- Video popup CSS-->
    <link href="css/magnific-popup.css" rel="stylesheet">
	<!-- Main CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Default CSS Color --> 
    <link href="color/default.css" rel="stylesheet">
     <!-- Color CSS --> 
    <link rel="stylesheet" href="color/color-switcher.css">
    <!-- Default CSS Color --> 
    <link href="color/default.css" rel="stylesheet">
     <!-- Color CSS --> 
    <link rel="stylesheet" href="color/color-switcher.css">
	<!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">


  </head>
<body>

     <!-- Preloader -->
     <div id="fakeloader"></div>
	
     <!-- <div class="top-menu-1x">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <div class="top-menu-left">
                         <p>Need help?</p>
                         <b><i class="fa fa-phone"></i> (61) 123 456 789</b>
                         <b><i class="fa fa-envelope"></i> support@fod1.com</b>
                     </div>				
                 </div>				
                 <div class="col-md-6">
                     <div class="top-menu-right">
                         <div class="footer-info-right">
                             <ul>
                                 <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>										
                                 <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>											
                                 <li><a href="#"> <i class="fa fa-google"></i> </a></li>									
                                 <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>											
                             </ul>					
                         </div>					
                     </div>				
                 </div>
             </div>
         </div>
     </div> -->
 
     <div class="bussiness-main-menu-1x">	
         <div class="container">
             <div class="row">
                 <div class="col-md-12">		
                     <div class="business-main-menu">		
                         <nav class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu">
                             <a class="navbar-brand" href="#">
                                 <img src="images/logo-dark.png" class="d-inline-block align-top" alt="">						
                             </a>
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                             <span class="navbar-toggler-icon"></span>
                           </button>
 
                           <div class="collapse navbar-collapse" id="navbarSupportedContent">
                           
                             <ul class="navbar-nav ml-auto business-nav">
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <!-- <li class="nav-item dropdown active"> 
                                     <a class="nav-link" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         Home <span class="sr-only">(current)</span> <i class="fa fa-angle-down"></i>
                                     </a>
                                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                         <li><a class="dropdown-item" href="home-one.html" target="_blank">Home One</a></li>
                                         <li><a class="dropdown-item" href="home-two.html" target="_blank">Home Two</a></li>
                                         <li><a class="dropdown-item" href="home-three.html" target="_blank">Home Three</a></li>
                                         <li><a class="dropdown-item" href="home-four.html" target="_blank">Home Four</a></li>
                                         <li><a class="dropdown-item" href="home-five.html" target="_blank">Home Five</a></li>
                                         <li><a class="dropdown-item" href="home-six.html" target="_blank">Home Six</a></li>
                                         <li><a class="dropdown-item" href="home-seven.html" target="_blank">Home Seven</a></li>
 
                                     </ul> 
                                </li>   -->
                               <li class="nav-item dropdown">
                                     <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         Features <i class="fa fa-angle-down"></i>
                                     </a>
                                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                         
                                         <li><a class="dropdown-item" href="/aboutus">About Us</a></li>
                                         <li><a class="dropdown-item" href="our-approach.html">Our Approach</a></li>
                                         <!-- <li><a class="dropdown-item" href="our-history.html">Our History</a></li> -->
                                         <li><a class="dropdown-item" href="service.html">Service</a></li>
                                         <!-- <li><a class="dropdown-item dropdown-toggle" href="career.html">Carrer</a>
                                             <ul class="dropdown-menu">
                                                 <li><a class="dropdown-item" href="career.html">Carrer</a></li>
                                                 <li><a class="dropdown-item" href="career-single.html">Carrer Single</a></li>
                                             </ul>
                                         </li>                                        -->
                                         <li><a class="dropdown-item" href="partner.html">Our Partner</a></li>
 
                                         <li><a class="dropdown-item dropdown-toggle" href="our-team.html">Our Team </a>
                                             <ul class="dropdown-menu">
                                                 <li><a class="dropdown-item" href="our-team.html"> Team Member</a></li>
                                                 <li><a class="dropdown-item" href="member-profile.html">Member Profile </a></li>
                                             </ul>
                                         </li>                                   
                                         
                                         <!-- <li><a class="dropdown-item" href="testimonial.html">Testimonials</a></li> -->
                                         <li><a class="dropdown-item" href="pricing-plan.html">Pricing</a></li>
                                         <!-- <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                                         <li><a class="dropdown-item" href="404.html">404 Page</a></li>
                                         <li><a class="dropdown-item" href="comming-soon.html">Comming Soon</a></li>
                                         <li><a class="dropdown-item" href="components.html">Components</a></li>                                         -->
                                     </ul>
                               </li>
 
                               <li class="nav-item dropdown">
                                     <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         Projects <i class="fa fa-angle-down"></i>
                                     </a>
                                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                         <li><a class="dropdown-item" href="/commingsoon">Projects One</a></li>
                                         <!-- <li><a class="dropdown-item" href="portfolio-one.html">Projects One</a></li>
                                         <li><a class="dropdown-item" href="portfolio-two.html">Projects Two</a></li>
                                         <li><a class="dropdown-item" href="project-details.html">Projects Details</a></li> -->
                                     </ul>
                               </li>	
 
                               <!-- <li class="nav-item dropdown">
                                     <a class="nav-link" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         Blog <i class="fa fa-angle-down"></i>
                                     </a>
                                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                                         <li><a class="dropdown-item" href="blog-list.html">List View</a></li>
                                         <li><a class="dropdown-item" href="blog-grid.html">Grid View</a></li>
                                         <li><a class="dropdown-item" href="single.html">Blog Single</a></li>
                                     </ul>
                               </li>	
  -->
                               <!-- <li class="nav-item dropdown">
                                     <a class="nav-link" href="shop.html" id="navbarDropdownMenuLink5" data-toggle="" aria-haspopup="true" aria-expanded="false">
                                         Shop <i class="fa fa-angle-down"></i>
                                     </a>
                                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                                         <li><a class="dropdown-item" href="my-account.html">My Account</a></li>
                                     </ul>
                               </li>							  -->
                               
                               <li class="nav-item">
                                 <a class="nav-link" href="/contactus">Contact Us</a>
                               </li>		  
                             </ul>
                             
                           <div class="business-cart">
                             <div class="box">
                               <div class="container-2">
                                   <span class="icon"><i class="fa fa-search"></i></span>
                                   <input type="search" id="search" placeholder="Search..." />
                               </div>
                             </div>
                             <a href="#"><i class="fa fa-shopping-cart"></i><span class="cart-no">0</span></a>
                           </div>
                             
                           </div>
                         </nav>
                     </div>
                 </div>
             </div>
         </div>
     </div>	
<!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">RPABiz</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Sign Up</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
